.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 45px 0;
}

.container__main {
  display: flex;
  align-items: center;
  gap: 24px;
}

.container__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
